.track .seg{
  fill: none;
  stroke: #111;
  stroke-width: 35;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: var(--len);
  stroke-dashoffset: var(--len);

  animation: draw 0.9s linear forwards;
  animation-delay: calc(var(--i) * 0.08s);
}

@keyframes draw{
  to { stroke-dashoffset: 0; }
}

#dot{
  fill: red;
  stroke: white;
  stroke-width: 6;
}

.cls-1 {
  fill: none;              
  stroke: #111;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}